@using CV.Models.Entity
@model List<Interests>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Interest Page</h2>
</header>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    @foreach (var item in Model)
                                    {
                                        <div class="time-label">
                                            <span class="bg-success">
                                                <a href="/Interest/EditInterest/@item.ID">@item.HEADER</a>
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-music bg-warning"></i>
                                            <div class="timeline-item">
                                                <div class="timeline-body">
                                                    <div> @item.HEADER</div>
                                                    <div>@item.DESCRIPTION</div>
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Interest/EditInterest/@item.ID" class="btn btn-primary btn-sm">Edit</a>
                                                    <a href="/Interest/DeleteInterest/@item.ID" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <a href="/Interest/AddInterest" class="btn btn-info">Add Interests</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>