@using CV.Models.Entity
@model List<Languages>

<div class="resume-section-content">
    <h2 class="mb-5 text-dark">LANGUAGES</h2>
    <div class="skills">
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-md-6 col-sm-6 col-xs-12 item">
                    <div class="skill-info clearfix">
                        <h3 class="pull-left">@x.LANGUAGE</h3>
                        <span class="pull-right">@x.SUCCSESS%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:@x.SUCCSESS%">
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
</div>
