@model CV.Models.Entity.Experience
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Add New Experience Page</h2>
</header>
<br />
<form method="post">
    <input type="text" name="Company" class="form-control" placeholder="Enter Company Name" />
    @Html.ValidationMessageFor(x => x.COMPANY, "", new { @style = "color:red" })
    <br />
    <input type="text" name="Position" class="form-control" placeholder="Enter Position" />
    @Html.ValidationMessageFor(x => x.POSITION, "", new { @style = "color:red" })
    <br />
    <input type="text" name="Sector" class="form-control" placeholder="Enter Sector" />
    @Html.ValidationMessageFor(x => x.SECTOR, "", new { @style = "color:red" })
    <br />
    <input type="text" name="WayOfWorking" class="form-control" placeholder="Enter Way of working" />
    @Html.ValidationMessageFor(x => x.WAYOFWORKING, "", new { @style = "color:red" })
    <br />
    <input type="date" name="Start" class="form-control" />
    <div class="text-black-50">
        Choose Start Date
    </div>
    <br />
    <input type="date" name="Finish" class="form-control" />
    <div class="text-black-50">
        Choose Finish Date
    </div>
    <br />
    <button class="btn btn-info">Save</button>
</form>